# Data science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
    1. Python
    2.SQL
    3. R
    4.C++
    5. Java etc.

Some of the commonly used libraries used by Data Scientists include:
    1. Tensorflow.
    2. Numpy
    3. scipy
    4. Pandas
    5. Matplotlib
    6. Keras,etc.

|Data Science Tools|
|---|
|SAS|
|Apache Hadoop|
| tensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [6]:
 #This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

__Objective__
* Popular languages in data science
* Popular libraries in dat science
* How to perform arithmetic function in jupiter
* How to comment on jupiter
* How to make list

__Author__
Shreyashi Mahanty